{{yield}}
{{#if addNewListing}}
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="body">Notes</label>
      {{input value=body id="body"}}
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      {{input value=price id="price"}}
    </div>
    <button class='btn' {{action "save"}}>Save</button>
  </form>

  {{else}}
    <button class="btn" {{action 'listingFormShow'}}>Add New Listing</button>
{{/if}}
