{{outlet}}

<h1>{{model.name}}</h1>

<ul>
  {{#each model.listings as |listing|}}
  <li>{{listing.title}} Posted: {{current-date listing.dateListed}}</li>
  {{/each}}
</ul>
{{new-listing saveListing="saveListing" category=model}}
